
input, textarea{
width:100%;
padding:6px;
margin-bottom:10px;
font-size: 16px;
}

select{
  font-size: 16px;
}
table{
width:100%;
border-collapse:collapse;
}

th, td{
border:1px solid #ccc;
padding:8px;
text-align:center;
}

button{
padding:6px 12px;
margin:5px;
cursor:pointer;
}




body{
  font-family: Arial;
  margin:0;
  padding:10px;
  background-image: url("https://images.pexels.com/photos/697259/pexels-photo-697259.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* CONTENEDOR GENERAL */
.contenedor{
  display: flex;
  gap: 20px;
  padding: 10px;
  max-width: 1070px;
  margin: auto;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
}

/* FORMULARIO IZQUIERDA */
.formulario{
  width: 40%;
  max-width: 400px;
}

/* TABLA DERECHA */
.tabla-contenedor{
  width: 60%;
  display: flex;
  overflow-x: auto;
  justify-content: center;
}

/* INPUTS */
input, select, textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

/* BOTÓN */
button{
  padding: 8px;
  cursor: pointer;
}

/* TABLA */
table{
  width: auto;
  margin: auto;
  border-collapse: collapse;
}

td, th{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}


/* 🔥 RESPONSIVE PARA CELULAR */
@media (max-width: 768px){

  .tabla-contenedor{
    width: 100%;
    overflow-x: auto;
  }

  .contenedor{
    flex-direction: column;
  }

  .formulario,
  .tabla-contenedor{
    width: 100%;
  }

  h2{
  text-align: center;
}

}







