body{
font-family: Arial;
max-width:900px;
margin:auto;
padding:20px;
}

input, textarea{
width:100%;
padding:6px;
margin-bottom:10px;
}

table{
width:100%;
border-collapse:collapse;
}

th, td{
border:1px solid #ccc;
padding:8px;
text-align:center;
}

button{
padding:6px 12px;
margin:5px;
cursor:pointer;
}






@media (max-width:600px){

table, thead, tbody, th, td, tr{
display:block;
}

tr{
margin-bottom:15px;
border:1px solid #ccc;
padding:10px;
}

td{
text-align:left;
border:none;
}

}
